<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.common.lib.nfc">

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true"/>

</manifest>
